<div class='container mx-auto px-4 py-12 max-w-4xl'>
  <h1 class='text-3xl font-bold mb-8'>{{ 'customer.account.title' | t }}</h1>

  {%- comment -%} Account Details {%- endcomment -%}
  <div class='mb-8 p-6 border border-gray-200 rounded-lg'>
    <h2 class='text-xl font-bold mb-4'>{{ 'customer.account.details' | t }}</h2>
    <div class='space-y-2'>
      <p>
        <strong>{{ 'customer.account.details' | t }}:</strong> {{ customer.name }}
      </p>
      <p>
        <strong>{{ 'customer.login_page.email' | t }}:</strong> {{ customer.email }}
      </p>
    </div>
  </div>

  {%- comment -%} Account Actions {%- endcomment -%}
  <div class='flex flex-wrap gap-4'>
    <a
      href='{{ routes.account_addresses_url }}'
      class='inline-block bg-black text-white px-6 py-2 rounded-lg hover:bg-gray-800 transition'
    >
      {{ 'customer.account.view_addresses' | t }}
    </a>
    <a
      href='{{ routes.account_orders_url }}'
      class='inline-block border border-black px-6 py-2 rounded-lg hover:bg-gray-100 transition'
    >
      {{ 'customer.nav.orders' | t }}
    </a>
    <a
      href='{{ routes.account_logout_url }}'
      class='inline-block border border-black px-6 py-2 rounded-lg hover:bg-gray-100 transition'
    >
      {{ 'customer.nav.log_out' | t }}
    </a>
  </div>
</div>

{% schema %}
{
  "name": "Account"
}
{% endschema %}
